{% load staticfiles %}

<html>
	<head>
		<title>Django application</title>
	</head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	<body>
		<header>
			<h1>{% block header_title %}{% endblock %}</h1>
		</header>
		{% block content %}{% endblock %}
	</body>
	<footer>
		{% block footer %}{% endblock %}
		<h4>Pié de pàgina</h4>
	</footer>
</html>