{% extends "polls/base.html" %}

{% block header_title %}all Questions{% endblock %}

{% block content %}
	<div class="container">
		{% if latest_question_list %}
		    {% for question in latest_question_list %}
		    	<a href="{% url 'polls:detail' question.id %}">
					<div class="question">
						{{ question.question_text }}
					</div>
		    	</a>
		    {% endfor %}
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}
	</div>

	<div class="container">
		<input id="btn_new_question" class="btn red left" type="button" value="Create a new Question">
		<script>
			document.getElementById("btn_new_question").addEventListener("click", function(){
			    window.location = "{% url 'polls:new' %}";
			});
		</script>
	</div>
{% endblock %}