<div class="container">
	<form action="" method="post">
		{% csrf_token %}

		<h2 class="subtitle">Question</h2>
		{% for field in questionForm.visible_fields %}
			<div class="field">
				<label class="label">{{ field.label }}:</label>
				<input id="{{ field.html_name }}" name="{{ field.html_name }}" type="text" value="">
				<label class="error">{{ field.errors  }}</label>
			</div>
		{% endfor %}

		{{formset.management_form}}
		{% for form in formset %}
			{% for field in form.visible_fields %}
				<div class="field">
					<label class="label">{{ field.label }}:</label>
					<input id="{{ field.html_name }}" name="{{ field.html_name }}" type="text" value="">
					<label class="error">{{ field.errors  }}</label>
				</div>
			{% endfor %}
		{% endfor %}

		<input type="submit" value="Submit" class="btn">

	</form>
</div>
